<h1>Edit Statement</h1>

<%= form_with model: @statement do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% @statement.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  